name: Release package to NPM registry

on:
  release:
    types: ['published']

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.12
          cache: 'pnpm'
          registry-url: https://registry.npmjs.org

      - name: Install dependencies Frozen
        run: pnpm --filter lexical-review install --frozen-lockfile
        
      - name: Build Lexical-Review
        run: pnpm --filter lexical-review build
        
      - name: Publish to NPM registry
        run: pnpm publish packages/lexical-review --access public --no-git-checks --provenance